In [1]:
import sys
sys.path.insert(0, "/home/matheus/projects/marioai")

from marioai.core import Runner, Task
from marioai.agents import BaseAgent
import pandas as pd

In [4]:
agent = BaseAgent()
task = Task()
runner = Runner(agent, task, level_difficult=0, visualization=True, mario_mode=0, time_limit=15, response_delay=0)
rewards = runner.run()
runner.close()
rewards[0][-1]

/home/matheus/projects/marioai/notebooks
Connection attempt: 1/5
Connection attempt: 2/5
Connection attempt: 3/5

844.1339721679688

In [23]:
rewards = runner.run()

In [7]:
def a():
    print("a")
    return "b"
c = 1
x = 2
res  = a() if x > 1 else 2 
res, c

a

('b', 1)

In [19]:
states = pd.DataFrame(agent.states)
states.tail()

,episode_starts,on_ground,can_jump,episode_over,soft_1,soft_2,hard_1,hard_2,enemy_1,enemy_2,brick_1,brick_2,projetil_1,projetil_2,has_role_near_1,has_role_near_2
221,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
222,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
223,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
224,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
225,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False

In [20]:

actions = pd.DataFrame(agent.actions, columns=["backward", "forward", "crouch", "jump", "speed/bombs"])
actions.tail()

     backward  forward  crouch  jump  speed/bombs
221         0        1       0     1            0
222         0        1       0     0            1
223         0        1       0     1            1
224         0        1       0     0            1
225         0        1       0     0            0

In [21]:


rewards = pd.DataFrame(agent.rewards)
rewards.tail()

     status    distance  timeLeft  marioMode  coins
221       0    0.000000         0          0      0
222       0    0.000000         0          0      0
223       0    0.000000         0          0      0
224       0    0.000000         0          0      0
225       0  570.933167         0          0      4